body {
    background-color: #2A2A2F;
    color: #F8FFFF;     /* TODO: Relpace */
}

table {
	margin: 50px 80px 0px 50px;
	border-collapse: collapse;

	font-family: arial;
	font-size: 0.8rem;
	text-align: center;
	word-wrap: break-word;
	cursor: pointer;

	/* unselectable text */

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

th {
	background-color: #0D142D;
	border: 1px solid #253456;      /* TODO: Replace */
    color: #5066BF;     /* TODO: Replace */
	padding: 3px;
}

th:hover,
th.selected {
    background-color: #000042;
}

td {
	display: table-cell;
	border: 1px solid #4F4F4F;      /* TODO: Replace */
    color: #E2E2E2;     /* TODO: Replace */
	padding: 5px;
	background-color: #1F1F1F;
}

td.fakeHover {
	background-color: #000029;
}

td.preselected,
td.selected {
    background-color: #000042;
}

td:hover {
	background-color: #000029;      /* Sync w/ td.fakeHover */
}

td.greenCell {
	background-color: #315E3F;
}

td.greenCell:hover {
	background-color: #357A49;
}

td.redCell {
	background-color: #63352F;
}
td.redCell:hover {
	background-color: #7F3930;
}

#panelMain{
    visibility: hidden;     /* Revealed after JS computes layout */
}

#panelCard {
	display: inline-block;
}

#panelRight {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

#btnNewCard {
	padding: 10px;
	margin-left: 2em;
	margin-bottom: 2em;
}

h2 {
	font-family: arial;
	font-size: 150%;
}

#txtAbout {
	font-size: 0.8rem;
	font-family: arial;
	line-height: 1.5em;
}

#txtRules {
	font-size: 0.8rem;
	font-family: arial;
	line-height: 1.5em;
}

#txtCredit {
	font-size: 0.6rem;
	font-family: arial;
	position: absolute;
	bottom: 10px;
    left: 10px;
}

/* unvisited link */
a:link,
a:visited {
  color: #588CC0;
}

/* mouse over link */
a:hover {
  color: #5FB2BF;
}

/* selected link */
a:active {
  color: #86D5E0;
}